.editorconfig   text eol=lf
.gitattributes  text eol=lf
.gitignore      text eol=lf

LICENSE         text eol=lf
manifest*       text eol=lf

*.html          text eol=lf
*.lua           text eol=lf
*.md            text eol=lf
*.yml           text eol=lf

*.rock          binary
